# IntelliJ project files
/.idea
/node_modules
/https

/pages/vrHouse
/pages/rtmp
/public/*
!/public/images
/upload

# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes